<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %} <!-- Add this line to load the static template tags -->
    <link rel="stylesheet" href="{% static 'password_generator/styles.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow&display=swap" rel="stylesheet">
    <title>View Password</title>
</head>
<body class="bodi">
    <header>
        <div class="logo1">
            <span class="span1"><a class="a" href="{% url 'generate_password' %}">Kembali</a></span>
        </div>
    </header>
    <table class="table">
        <tr id="border">
            <th>Title</th>
            <th>Password</th>
            <th>Update</th>
            <th>Hapus</th>
        </tr>
        {% for i in passname %}
        <tr>
            <td>{{i.title}}</td>
            <td>{{i.password}}</td>
            <td><a class="aa" href="{% url 'update_pass' %}">Update</a></td>
            <td><a class="aa" href="">Delete</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>

